<!--begin::App Content Header-->
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-0 text-capitalize"><%- breadcrumbNames[breadcrumbNames.length-1].title %></h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <% breadcrumbNames.forEach((breadcrumb, idx) => { %>
                        <% if (idx + 1 === breadcrumbNames.length) { %>
                            <li class="breadcrumb-item text-capitalize active"><%= breadcrumb.title %></li>
                        <% } else { %>
                            <li class="breadcrumb-item text-capitalize"><a href="<%= breadcrumb.href %>"><%= breadcrumb.title %></a></li>
                        <% } %>
                    <% }) %>
                </ol>
            </div>
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::App Content Header-->