<h1>Calibrations</h1>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Calibration List</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Calibration ID</th>
                            <th>Calibration Date</th>
                            <th>Calibration Due Date</th>
                            <th>Calibration Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>2021-10-01</td>
                            <td>2022-10-01</td>
                            <td>Calibrated</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>2021-10-01</td>
                            <td>2022-10-01</td>
                            <td>Calibrated</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>2021-10-01</td>
                            <td>2022-10-01</td>
                            <td>Calibrated</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>2021-10-01</td>
                            <td>2022-10-01</td>
                            <td>Calibrated</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>2021-10-01</td>
                            <td>2022-10-01</td>
                            <td>Calibrated</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Calibration Details</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="calibrationFile">Calibration File</label>
                    <input type="file" class="form-control" id="calibrationFile" />
                </div>
            </div>
        </div>
    </div>
</div>