<!DOCTYPE html>
<html lang="en">
<head>
    <title>AdminLTE Auth</title>
    <link rel="stylesheet" href="/AdminLTE/dist/css/adminlte.min.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to AdminLTE</h1>
        <% if (user) { %>
            <p>Welcome, <%= user.displayName %></p>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Login</a>
        <% } %>
    </div>
</body>
</html>